body {
    font-family: Arial, sans-serif;
    background-color: #46628A;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

header {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-photo {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 50px;
}

.profile-info {
    font-size: 22px;
    text-align: left;
    line-height: 1;
    flex-grow: 1;
}
